html {
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e0e0e0;
    
}
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    
}
#container {
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
header {
    background-color: rosybrown;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 5; /* to avoid overflow of the images on the header while scrolling*/
    /* display: flex;
    align-items: center; */
}
header nav {
    display: flex;
    align-items: center;
}

header img {
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

/* header a {
    text-decoration: none;
    color: black;
} */

header .anchor {
    position: absolute;
    right: 2px;
    margin-right: 2%;
}
footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    
}
footer .foot {
    /* background-color: rosybrown; */
    /* position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    height: 60px;
    
}

footer img {
    height: 20px;
    width: 22px;
}

footer .logo {
    display: flex;
    position: absolute;
    right: 2px;
    margin-right: 2%;
}

footer .copyright {
    display: flex;
    justify-content: center;
    left: 44%;
    position: absolute;
    font-size: 10px;
}

footer .contacts {
    text-decoration: none;
    color: black;
    /* display: flex;
align-items: center; */
    margin-left: 2%;
}
#logoutbtn {
    display: none;
}
@media screen and (max-device-width: 576px){
    header {
        background-color: rosybrown;
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        z-index: 5;
        
        /* display: flex;
        align-items: center; */
    }
    footer {
        background-color: rosybrown;
        position: sticky;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        overflow-x: hidden;    
    }
    footer .foot{
        display: flex;
        align-items: center;
        height: 50px;

    }

    footer .contacts{
        margin-left: 2%;

    }
    footer .copyright {
        display: flex;
        justify-content: center;
        left: 34%;
        position: absolute;
        font-size: 10px;
    }
    footer .logo {
        display: flex;
        position: absolute;
        right: 2px;
        margin-right: 2%;
    }
    .modal-body div {
        display: flex;
        margin-bottom: 3px;
    }
    .modal-body div label {
       margin: 0 5%;
    }
    .modal-body div input {
        width:40%;
    }

}

        