html {
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
#container {
    height: 100%;
    width: 100%;
}
header {
    background-color: rosybrown;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    /* display: flex;
    align-items: center; */
}
header nav {
    display: flex;
    align-items: center;
}

header img {
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

/* header a {
    text-decoration: none;
    color: black;
} */

header .anchor {
    position: absolute;
    right: 2px;
    margin-right: 2%;
}
footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
}
footer .foot {
    /* background-color: rosybrown; */
    /* position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    height: 50px;
    
}

footer img {
    height: 20px;
    width: 22px;
}

footer .logo {
    display: flex;
    position: absolute;
    right: 2px;
    margin-right: 2%;
}

footer .copyright {
    display: flex;
    justify-content: center;
    left: 44%;
    position: absolute;
    font-size: 10px;
}

footer .contacts {
    text-decoration: none;
    color: black;
    /* display: flex;
align-items: center; */
    margin-left: 2%;
}

        