body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
#container{
    height: 100%;
    width: 100%;
}
header{
    background-color: rosybrown;
    position:sticky; top:0px; left:0px; right:0px; overflow:hidden;

}
header img{
    height:60px;
     width:60px;
}
header a:nth-of-type(2) {
    text-decoration: none;
    color: black; 
    float: right;
    margin:19.5px;
} 
header + div img{
    height: 500px;
     width:500px;
     margin: 2% 4% 0% 4%;
}
header + div form{
    margin: 0% 4% 1% 4%;
}
header + div div{
    margin:1% 4% 2% 4%;
}
footer img{
        height:20px;
        width: 22px;
}
footer{
    background-color: rosybrown;
    position:sticky; bottom:0px; left:0px; right:0px; overflow: hidden;
    padding-left: 10px;
    padding-right:10px;
}
footer div div{
    float:right;
}
footer div a:nth-of-type(1){
    text-decoration: none;
    color:black;
}
footer footer{
    text-align: center;
    margin-bottom:0;
}



