.hotel{
    display: flex;
}
.hotel-img{
    display:flex;
    border: 1px solid black;
    height: 400px;
    width:60%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: -1px;
}
.hotel-img img{
   
    height: 350px;
    width:500px; 
     /* margin: 2% 4% 0% 4%; */
}
.hotel-detail {
    display: flex;
    border: 1px solid black;
    border-left:1px solid transparent;
    width: 40%;
    height: 400px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: -1px;
    justify-content: center;
    align-items: center; 
     
}
p label{
    width: 250px;
    /* display: inline-block;
    float: left; */
    text-align: left;
}
p input{
    display: inline-block;
    width: 60%;
    

}
form p{
    display: flex;
    text-align: center;
    margin: 6% auto;
}
.info{
    margin:1% 4% 2% 2%;
    
}
.info h5{
    font-family: cursive;
}
.booknow button{
    
    width:auto;
    color: green;
    background-color: transparent;
    border-color: none;
     
}
.booknow{
    display: flex;
    justify-content: center;
    align-items: center;
   
}







