div .searchbar {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height:380px;
    display:flex; 
    
    
}
form{
    margin: auto;
          
}
 div form input{
    background-color:#f1f1f1;
    border: 1px solid transparent;
    padding:10px;
    font-size: 16px;
    border-radius: 12px;
    /* width: 100%; */
    border: none;
    outline: none;
}
div .cards{
    /* margin-left: 15%;
    margin-right: 15%; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.cards .cardaa{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;

}
.cards .cardaa img{
    display: block;
    border-radius:25%;
    height: 150px;
    width: 150px;
}
.cards .cardaa .mid{
    position: absolute; 
    opacity: -1;
    margin: auto;
    
}
.mid .txt {
    color:#f1f1f1;
    margin:auto;
}
.cards .cardaa:hover .mid {
    opacity: 1;
}
.cards .cardaa:hover .image {
     filter: brightness(50%); 
      
    
}
.cards .cardaa .image {
    box-shadow: 10px 10px 10px grey;
}
.viewmore {
    text-align: center;
    margin-bottom: 3%;
}

div + p a{
    text-decoration: none;
    color:black;

}

@media screen and (max-device-width: 576px) {
    div .searchbar {
        display:flex; 
    }
    div .cards{
        display: grid;
        margin-top:2%;
    
    }
    .cards .cardaa img{
        display: block;
        border-radius:25%;
        height: 155px;
        width: 155px;
    }
    .viewmore {
        margin-bottom: 10%;
        margin-top: 3%;
    }

}
@media screen and (min-device-width: 576px) and (max-device-width: 768px){
    div .searchbar {
        display:flex; 
    }
    div .cards{
        display: flex;
        flex-wrap: wrap;
        margin:0px 98px;
        /* justify-content: space-evenly; */
    
    }
    .cards .cardaa img{
        display: block;
        border-radius:25%;
        height: 220px;
        width: 220px;
    }

    .viewmore {
        margin-bottom: 10%;
        margin-top: 3%;
    }

}
