html{
    height: 100%;
    width: 100%;
    margin:0%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
#container{
    height: 100%;
    width: 100%;
}
#list-view img{
    height: 200px;
    width: 250px;

}
#list-view div{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}
footer img{
        height:20px;
        width: 22px;
}
header img{
    height:60px;
    width:60px;
}
header,footer{
    background-color: rosybrown;
}
