ul{
    list-style: none;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
}
li{
    display:inline-block;
    margin:0px 20px;
    margin-top: 1%;
}
.listview .btn {
    color:black;
    /* background-color:white;
    border-color: transparent;  */
}
.mapview .btn{
    color:black;
    background-color:white;
    border-color: transparent;

} 
.listview .btn:hover{
    color:black;
    background-color: #007bff;
    border-color: #007bff;
}
.mapview .btn:hover{
    color:black;
    background-color: #007bff;
    border-color: #007bff;
}

#list-view .hotels{
    display: flex;
    flex-wrap: wrap;
}
#list-view .hotels a{
    text-decoration: none;
    color:black;
    display: flex; 
}
#list-view .hotel .text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 3%;
    
}
#list-view img{
    height: 200px;
    width: 250px;

}
#list-view .hotels .hotel{
    margin: 2% 3% 3% 2%;
    background-color: lightgrey;
    width: 40%;
    display: flex; 
    margin-left: 75px;
    margin-right: 45px;

}
#list-view .hotel:hover{
    background-color: rosybrown;
}
#map-view {
      /* display:none;   */
}
.checked{
    color: orange;
}
/* @media screen and (max-device-width: 576px) {

} */