body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
#container{
    height: 100%;
    width: 100%;
}
header{
    background-color: rosybrown;
    position:sticky; top:0px; left:0px; right:0px; overflow:hidden;

}
header a:nth-of-type(2) {
    text-decoration: none;
    color: black; 
    float: right;
    margin:19.5px;
} 
header img{
    height:60px;
     width:60px;
}
header + div img{
    height: 500px;
     width:500px;
}
header + div a{
    text-decoration: none;
    color: black;
}
div#hotels{
    background-color: rgb(132,136,139);
    width:50%;
    height:20%;
    margin: 2% auto 2% auto;
}
div#customerdetails{
    margin: 2%;
}

div#tariff{
    margin:2%;
   border: 1px solid black;
   border-radius: 5px;
   padding:1% 2% 1% 2%;
}
footer{
    background-color: rosybrown;
    position:sticky; bottom:0px; left:0px; right:0px; overflow: hidden;
    padding-left: 10px;
    padding-right:10px;
}
footer div div{
    float:right;
}
footer div a:nth-of-type(1){
    text-decoration: none;
    color:black;
}
footer img{
    height:20px;
    width: 22px;
}
footer footer{
    text-align: center;
    margin-bottom:0;
}